# Project exclude paths
!/cmake-build-debug/flight_scanner.sh
/cmake-build-debug
/flightsDB/
/.idea/.name
/build/CMakeFiles/3.22.1/CompilerIdC/a.out
/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
/build/CMakeFiles/linux-assignment2.dir/build.make
/build/lib/CMakeFiles/lib.dir/build.make
/build/.cmake/api/v1/reply/cache-v2-126800124c292bdd28c4.json
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/cmake.verify_globs
/build/CMakeFiles/linux-assignment2.dir/cmake_clean.cmake
/build/lib/CMakeFiles/lib.dir/cmake_clean.cmake
/build/lib/CMakeFiles/lib.dir/cmake_clean_target.cmake
/build/lib/cmake_install.cmake
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/lib/CMakeFiles/CMakeDirectoryInformation.cmake
/build/.cmake/api/v1/reply/cmakeFiles-v1-b5d972c5a06f1cf1d0cb.json
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/3.22.1/CMakeSystem.cmake
/build/.cmake/api/v1/reply/codemodel-v2-f9b32eaf9a2b0bf81c05.json
/build/compile_commands.json
/build/CMakeFiles/linux-assignment2.dir/compiler_depend.make
/build/lib/CMakeFiles/lib.dir/compiler_depend.make
/build/CMakeFiles/linux-assignment2.dir/compiler_depend.ts
/build/lib/CMakeFiles/lib.dir/compiler_depend.ts
/build/CMakeFiles/linux-assignment2.dir/depend.make
/build/lib/CMakeFiles/lib.dir/depend.make
/build/CMakeFiles/linux-assignment2.dir/DependInfo.cmake
/build/lib/CMakeFiles/lib.dir/DependInfo.cmake
/build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/build/.cmake/api/v1/reply/directory-lib-Debug-c12f15c6f888b43a891c.json
/build/CMakeFiles/linux-assignment2.dir/flags.make
/build/lib/CMakeFiles/lib.dir/flags.make
/build/.cmake/api/v1/reply/index-2023-05-28T14-18-29-0681.json
/build/CMakeFiles/linux-assignment2.dir/link.txt
/build/lib/CMakeFiles/lib.dir/link.txt
/build/lib/Makefile
/build/Makefile
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/CMakeFiles/linux-assignment2.dir/progress.make
/build/lib/CMakeFiles/lib.dir/progress.make
/build/CMakeFiles/progress.marks
/build/lib/CMakeFiles/progress.marks
/build/.cmake/api/v1/query/client-vscode/query.json
/build/.cmake/api/v1/reply/target-lib-Debug-badc29860d9bd2cc0d61.json
/build/.cmake/api/v1/reply/target-linux-assignment2-Debug-831fa71efe8692112a26.json
/build/CMakeFiles/TargetDirectories.txt
/.vscode/tasks.json
/build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
/build/CMakeFiles/VerifyGlobs.cmake
/cmake-build-debug/Testing/
